{% extends "frames/frames.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="padding-top: 10px">About this project - Talent Beyond Boundaries</h1>
      <br>
      <h4>Supporting labor migration by matching refugee skills to open positions</h4>
      <hr>
      		<p>This proposal looks at how organizations can drive 'Diversity and Inclusion' programs by using a data driven approach to match refugee talent with current opportunities for employement. Such an approach has the potential to address business needs to hire highly skilled, dedicated professionals while also having a range of social benefits that support UN development initiatives. (Cousins & Laurie 2019)<br>

			<img src="{{ url_for('static', filename='img/Project_overview.png') }}" width="1028" height="348"><br>
		<hr>

		<h4>How it would work:</h4>

			<p>The data sources - on the talent supply side, data may come from specially curated databases such as the 'Talent Beyond Boundaries' talent catalog, or via available social media feeds. Talent demand would be referenced via the Thinknum NYSE Jobs Database, and the matching engine would use a NLP approach such as the 'OpenSkills Project' from Data at work.</p>
			<br>
			<img src="{{ url_for('static', filename='img/proposed_approach.png') }}" width="1000" height="545"><br>

		<hr>

		<h4>Citations:</h4>

			<p>Dikau, D., & Hatfield, S. Deloitte Publishing (2020);</p>
			<a add target="_blank" href="https://www2.deloitte.com/us/en/pages/human-capital/articles/alternative-workforce.html">Creating Value and Impact through the Alternative Workforce</a><br>
			<br>

			<p>Cousins,S., Lawrie, R. & Nyce, S.(2019);</p>
			<a add target="_blank" href="https://static1.squarespace.com/static/5dc0262432cd095744bf1bf2/t/5ed20b4cdef8546a019d216b/1590823775767/TBBGRFReport2019.pdf">The Promise of Labor Mobility</a><br>
			<br>

			<a add target="_blank" href="https://www.talentbeyondboundaries.org/the-talent-catalog">Talent Beyond Boundaries Talent Catalog</a><br>
			<br>
			<a add target="_blank" href="https://www.unhcr.org/en-au/figures-at-a-glance.html">UNHCR, “Figures at a Glance"</a><br>
			<br>
			<a add target="_blank" href="http://dataatwork.org/data/">U.S. Dept of Labor O*Net - OpenSkills Project</a><br>
			<br>
			<a add target="_blank" href="https://blog.thedataincubator.com/tag/data-sources/">Thinknum Jobs Data Source</a> 

    </div>
  </div>
</div>

{% endblock %}