{% extends "frames/frames.html" %}

{% block title %}About Daniel{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="padding-top: 10px">Daniel B. Macdonald</h1>
      <hr>
	      <table>
	        <tr>
	            <th style="vertical-align: top;width:225px">
	            	<p style="text-align:center;"><img src="{{ url_for('static', filename='img/DBM_headshot.jpg') }}" width="113" height="141"></p>
	            	<hr>
	            <ul>
	            	<li style="font-size: smaller;">Human Capital Strategy</li>
	            	<li style="font-size: smaller;">People Analytics</li>
	            	<li style="font-size: smaller;">Data Science & A.I.</li>
	            	<li style="font-size: smaller;">Agile Project Management</li>
	            	<li style="font-size: smaller;">Human Centered Design</li>
	            	<li style="font-size: smaller;">Cloud & Cognitive Software</li>
	            	<hr>
	            	<li style="font-size: small;"><a add target="_blank" href="https://www.talentrics.com">@Talentrics</a></li>
	            	<li style="font-size: small;"><a add target="_blank" href="https://www.linkedin.com/in/talentrics/">@LinkedIn</a></li>
	            	<li style="font-size: small;"><a add target="_blank" href="https://twitter.com/talentrics">@Twitter</a></li>
	            	<li style="font-size: small;"><a add target="_blank" href="https://github.com/talentrics">@GitHub</a></li>
	            </ul>
	        </th>
	        	<th style="padding-left: 20px; padding-right: 20px;font-weight: normal;vertical-align: top">
            		I am a husband and a father who has been working as a human capital consultant with IBM since 2007, and I have a passion for helping people align their skills and capabilities with their market opportunity.  I began my career in the field of production arts, design and teaching, so those are skills I try to continue to develop.<br>
            		<br>
					I help global organizations hire and retain top technical talent while designing talent management programs to optimize workforce development, skills growth, and to drive diversity and culture.  My experience in Data Science means that I often rely on data to assess the right direction and build technologies that make the employee experience more engaging.<br>
            		<br>
					I have worked internationally with IBM since 2007, first in Central Eastern Europe, Russia & CIS, then across the Middle East and Africa.  I returned to IBM HQ in Armonk, NY in 2019, and my most recent projects have focused on talent management and people analytics for IBM Research and Cloud & Cognitive Software.</p><br>
					<ul>
					<p style="font-weight: bold">Education:</p>
	            	<li>Cornell University (2006) - Masters in Industrial Labor Relations</li>
	            	<li>Northwestern University (2019) - Masters of Science in Data Science</li>
            		</ul>
				</th>
	         </tr>
	      </table>

    </div>
  </div>
</div>

{% endblock %}