{% extends "frames/frames.html" %}

{% block bokeh %}
  <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.css" type="text/css">
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js"></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block main %}
          
          <div class="container">

          </div>
     </section>
	<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-12">
        </div>
      </div>
    </div>
    <div>
    {{ div | safe }}
    {{ script | safe }}
    </div>
{% endblock %}
