{% extends "frames/frames.html" %}

{% block title %}Step by Step Guide{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="padding-top: 10px">This page will provide a step by step guide on how it all works</h2>
      <hr>
      <ul>
      	<li>How the Flask application is built and deployed via heroku</li>
      	<li>Descriptions of Data Sources and methods to pair talent/jobs</li>
      	<li>Overviews of data visualization tools such as Bokeh</li>
      	<br>
      	<p>Stay tuned.. more to come!</p>
      </ul>
    </div>
  </div>
</div>

{% endblock %}