{% extends "frames/frames.html" %}

{% block title %}Talentrics{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="padding-top: 10px">About Talentrics - Workforce Science Made Simple</h1>
      <hr>
    	<p>Often referred to as ‘People Analytics’, data science can help everyday HR professionals drive workforce strategy, deliver on agile leadership, and improve employee engagement.Traditionally, the HR function served a more qualitative function in the organization.  People entered the profession because they had a passion for 'working with people'.  This passion for people is still true today, but there is a new set of skills that HR practitioners need to have so they can influence their organization:  people analytics, agile leadership, and user experience. <br>
      <br>
      As a Human Capital Consultant with an interest in People Analytics, I have built a resource for HR professionals like myself.  I call it 'Talentrics'  It is a place for like minded professionals to share knowledge and grow as the industry does.  You can visit the site here: <a add target="_blank" href="https://www.talentrics.com">https://www.talentrics.com</a>

  		<img src="{{ url_for('static', filename='img/complex_simple.jpg') }}" width="1000" height="174"><br>

    </div>
  </div>
</div>

{% endblock %}